# Python
backend/venv/
__pycache__/
*.pyc

# Environment Variables
.env
**/.env

# Node
node_modules/

# Build
dist/
build/

# VS Code
.vscode/

# Visual Studio
.vs/
*.user
*.suo

# Logs
*.log

*.joblib

# old models
backend/ml/models/financial_health_model old.json
backend/ml/models/model_features old.pkl