SUPABASE_URL=https://fblpnzoxelzygrogywwd.supabase.co

SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZibHBuem94ZWx6eWdyb2d5d3dkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQzMDU2NjUsImV4cCI6MjA5OTg4MTY2NX0.5F0t6kvgGqql0Lg9R0oN2yyC3-DuAY5m13bAozXWChI

SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZibHBuem94ZWx6eWdyb2d5d3dkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDMwNTY2NSwiZXhwIjoyMDk5ODgxNjY1fQ.kcvmkFUZYHpE-u_6TVLJRsvM07GnQC3OqSwhjg05XhM

DATABASE_URL=